.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  
  background-image: url('./abstract-antique-backdrop-background-168447.jpg')
  
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: url('./abstract-antique-backdrop-background-168447.jpg')
}

.card {
  width: 18rem;
  background: black;
}

.card-body {
  color: whitesmoke
}

